#!/usr/bin/ksh
# ===============================================================================
#                      PRIMARK
#
# ===============================================================================
# ===============================================================================
# File Name           : {{ job_dict.get('job_name') }}.job
# Pattern             : {{ pattern }}
# Purpose             : {{ purpose }}
# Author              : {{ author }}
# File Type           : JOB
# Creation Date       : {{ creation_date }}
# Version             : {{ version }}
# -------------------------------------------------------------------------------
# Change History :
# Ver  | Date        |  Modified By           |  Change Description
# -------------------------------------------------------------------------------
# 1.0  | 18 Oct 2021 |  TERADATA              |  INITIAL VERSION
# ===============================================================================

step 030 Bteq -s "${SERVER:?}" -u "${LOGON:?}" -v MET_V="${MET_V}" \
              -v JOB=${JOB:?} ${STEP_DIR:?}/{{ job_dict.get('job_name') }}.job

