#!/usr/bin/ksh
# ===============================================================================
#                      PRIMARK
#
# ===============================================================================
# ===============================================================================
# File Name           : {{ job_dict.get('job_name') }}.job
# Pattern             : {{ pattern }}
# Purpose             : {%- set desc = job_dict.get('job_description', ' To Be Defined') -%}{{ desc|string|replace('\r\n','\n')|replace('\r','\n')|replace('\n','\n#                     : ') }}
# Author              : {{ job_dict.get('author','MS Primark') }}
# File Type           : JOB
# Creation Date       : {{ job_dict.get('build_date') }} 
# Build Time          : {{ job_dict.get('build_date') }} {{ job_dict.get('build_time') }}
# -------------------------------------------------------------------------------
# Change History :
# Ver  | Date        |  Modified By           |  Change Description
# -------------------------------------------------------------------------------
# 0.0  | {{ job_dict.get('build_date')}} |  {{ job_dict.get('author','MS Primark') }}              |  INITIAL VERSION
# ===============================================================================

FPATH=$FPATH:$HOME/includes
JOB={{ job_name }}

echo ---------------------------------------
echo JOB=${JOB:?}
echo ---------------------------------------

STREAMID={{ job_dict.get('stream_id','DEFAULT') }}
