tjc_stepout -e
tjc_onerror "tjc_alert -u '${LOGON}' -s '${SERVER}' -G TJC_${INSTANCE}_ALERT"
tjc_ontimeout "tjc_alert -u '${LOGON}' -s '${SERVER}' -G TJC_${INSTANCE}_ALERT  > /dev/null 2>&1"

#-------------------------------------------------------------------------------
# Step 001 : Log start of job by running FND_JobStart.sql
#-------------------------------------------------------------------------------

step 001 Bteq -s "${SERVER:?}" -u "${LOGON:?}" -v MET_V="${MET_V}" \
              -v STEP_NO=001 \
              -v INSTANCE="${INSTANCE:?}" \
              -v JOB="${JOB:?}" ${STEP_DIR:?}/FND_JobStart.sql

#-------------------------------------------------------------------------------
# Step 003 : Get the RUNID parameter
#-------------------------------------------------------------------------------

# need to grab the run id so we can append it to the report files to make it unique
step 003 Bteq -s "${SERVER:?}" -u "${LOGON:?}" \
              -v STEP_NO="003" -v INSTANCE="${INSTANCE:?}" \
              -v MET_V="${MET_V:?}" -v INSTANCE="${INSTANCE:?}" \
              -v JOB=${JOB:?} ${STEP_DIR:?}/FND_GetRunId.sql

RUN_ID=$(tjc_stepout -l | awk '/^RUN_ID;/{print $2}')



#-------------------------------------------------------------------------------
# Step 020 : Get the parameters
#-------------------------------------------------------------------------------

# Set default time parameter
JOB_PARAM_TS_FORMAT=${JOB_PARAM_TS_FORMAT:="YYYY-MM-DD HH:MI:SS"}
# Set Work file
JOB_PARAM_WORKFILE=$(tjc_workfile -c JOB_PARAM)
step 020 Bteq -s "${SERVER:?}" -u "${LOGON:?}" -v MET_V="${MET_V}" \
              -v JOB_PARAM_DT_FORMAT="${JOB_PARAM_DT_FORMAT:=YYYY-MM-DD}"\
              -v JOB_PARAM_DT_ALT_FORMAT="${JOB_PARAM_DT_FORMAT:=IGNORE}"\
              -v JOB_PARAM_TS_FORMAT="${JOB_PARAM_TS_FORMAT}"\
              -v JOB_PARAM_INT_FORMAT="${JOB_PARAM_INT_FORMAT:=TM}"\
              -v STEP_NO="020" -v INSTANCE="${INSTANCE:?}" \
              -v JOB=${JOB:?} ${STEP_DIR:?}/FND_GetALLParams.sql

tjc_stepout -l|grep ^\!|cut -d\! -f2 >${JOB_PARAM_WORKFILE}

# Set environment parameters
. ${JOB_PARAM_WORKFILE}

# Overwrite parameters with command line
export $(MY_TMP=${TJC_OPTIONS//-v };echo ${MY_TMP//\"})


#-------------------------------------------------------------------------------
# Step 025 : Get Stream
#-------------------------------------------------------------------------------


# Set Work file
STREAM_PARAM_WORKFILE=$(tjc_workfile -c JOB_PARAM)
step 025 Bteq -s "${SERVER:?}" -u "${LOGON:?}" -v MET_V="${MET_V}" \
              -v STEP_NO="025" \
              -v INSTANCE="${INSTANCE:?}" \
              -v STREAMID="${STREAMID:?}" \
              -v JOB=${JOB:?} ${STEP_DIR:?}/FND_GetStream.sql

tjc_stepout -l|grep ^\!|cut -d\! -f2 >${STREAM_PARAM_WORKFILE}

# Set environment parameters
. ${STREAM_PARAM_WORKFILE}

# Overwrite parameters with command line
export $(MY_TMP=${TJC_OPTIONS//-v };echo ${MY_TMP//\"})


#-------------------------------------------------------------------------------
# Step 030 : Get Load Token
#-------------------------------------------------------------------------------


# Set Work file
LDTK_PARAM_WORKFILE=$(tjc_workfile -c JOB_PARAM)
step 030 Bteq -s "${SERVER:?}" -u "${LOGON:?}" -v MET_V="${MET_V}" \
              -v STEP_NO="030" \
              -v INSTANCE="${INSTANCE:?}" \
              -v STREAMID="${STREAMID:?}" \
              -v LDTK_DATE="${LDTK_DATE:?}" \
              -v LDTK_PREV_DATE="${LDTK_PREV_DATE:?}" \
              -v LDTK_NEXT_DATE="${LDTK_NEXT_DATE:?}" \
              -v JOB=${JOB:?} ${STEP_DIR:?}/FND_GetLoadToken.sql

tjc_stepout -l|grep ^\!|cut -d\! -f2 >${LDTK_PARAM_WORKFILE}

# Set environment parameters
. ${LDTK_PARAM_WORKFILE}

# Overwrite parameters with command line
export $(MY_TMP=${TJC_OPTIONS//-v };echo ${MY_TMP//\"})