

#-------------------------------------------------------------------
# Include common start script for job execution
#-------------------------------------------------------------------
. $HOME/jobs/FNDSTART.job


