{% import 'ddl_helper.sql.j2' as dd -%}
{% set table_quote = '"' if table_quote=='Y' else ''-%}
{{ dd.header(filename,project_name,build.databasename,schema_name,config.author_name,config.created_date)-}}
/* Create table for {{ table_name }} */
REPLACE VIEW DW${INSTANCE}{{build.databasename}}.{{table_quote}}{{ build.tablename }}{{table_quote}}
    AS
SELECT
{%- for column in columns %}
{% set quote = '"' if column.quote == 'Y' else '' -%}
{% set column_format = 'FORMAT' if column.column_format else '' -%}
{{"    "}}{{quote}}{{ column.column_name }}{{quote}} {%if not loop.last %},{%else%},{% endif -%}
{% endfor -%}
{{ dd.control_columns_view(control_columns) -}}
FROM  DW${INSTANCE}{{databasename}}.{{table_quote}}{{ table_name }}{{table_quote}}
;

/*-----------------------------------------------------------------------------
* Comments for tables and columns
*-------------------------------------------------------------------------------*/

COMMENT ON VIEW DW${INSTANCE}{{ build.databasename}}.{{table_quote}}{{ build.tablename }}{{table_quote}} AS '{{ description }}'
;
{% for column in columns %}
{% set quote = '"' if column.quote == 'Y' else '' -%}
COMMENT ON COLUMN DW${INSTANCE}{{ build.databasename}}.{{table_quote}}{{ build.tablename }}{{table_quote}}.{{quote}}{{ column.column_name }}{{quote}} AS '{{ column.description }}'
;
{% endfor %}

{{ dd.control_columns_comments(control_columns,build.databasename,build.tablename,table_quote) -}}


/*-----------------------------------------------------------------------------
* END OF VIEW CREATION
*-------------------------------------------------------------------------------*/